extends layout

block arr_IMG
  .container
    .row
      <a href="https://www.flickr.com/photos/frostroomhead/" target="_blank"><img src="icons/flickr.png" ></a>
      <a href="https://facebook.com/Frostroomhead" target="_blank"><img src="icons/facebook.png" ></a> <a href="https://twitter.com/Frostroomhead" target="_blank"><img src="icons/twitter.png" ></a>	 
  .container
    .row
      br
      p4.kontakti_inner г. Мелитополь,
      p4.kontakti_inner  Подвал
      
      