doctype
html
  head
    title Rodion Kutsaev
    meta(charset='utf-8')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css')
    link(rel='stylesheet', href='css/style.css')
    style.
      ul.nav a {
      text-transform: capitalize;
      }
  body
 
    .container.text
      
      hr
      ul.nav.nav-pills
        li.text1: a(href=links[0])= 'Главная'
        li.text1: a(href=links[1])= 'Примеры работ'
        li.text1: a(href=links[2])= 'О фотографии'
        li.text1: a(href=links[3])= 'Контакты'
      hr
    
    .container
      img(src='images/yellowphoto.jpg', width='80%', align='center', alt='image')
      .container
     
      footer 
       script(src='http://code.jquery.com/jquery-2.1.1.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js')